@font-face {
    font-family: "quay";
    src: url("/assets/font/QUANTU1T.TTF");
    font-display: swap;
}

@font-face {
    font-family: "garamond";
    src: url("/assets/font/garamondpremrpro.otf");
    font-display: swap;
}

@font-face {
    font-family: "noto-sans";
    src: url("/assets/font/NotoSansMono_Condensed.ttf");
    font-display: swap;
}

@font-face {
    font-family: "itc-garamond";
    src: url("/assets/font/itc-garamond.otf");
    font-display: swap;
}

:root {
    --white: #FAF2E7;
    --black: #000000;

    --garamond: "garamond";
    --noto-sans: "noto-sans";
    --itc-garamond: "itc-garamond";
    --quay: "quay";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper .navigation {
    padding-left: 1rem;
    position: relative;
    z-index: 1;
}

.wrapper .navigation .navigation__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.navigation__list a {
    text-decoration: none;
    color: var(--black);
    text-transform: capitalize;
    font-size: clamp(1.5625rem, 1.5625rem + 0vw, 1.5625rem);    
    font-family: var(--garamond);
    line-height: .9;
}

.navigation__list .navigation__list--item:nth-child(even) a {
    margin-left: 1rem;
    font-family: var(--itc-garamond);
}

.wrapper .bottom__wrapper {
    padding: 0 1rem 1rem;
}

.bottom__wrapper .info {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
    color: var(--black);
    font-family: var(--noto-sans);
}

.bottom__wrapper .info .info__date, 
.bottom__wrapper .info .info__nav,
.bottom__wrapper .info .info__number {
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    font-weight: 600;
}

.bottom__wrapper .info .info__date {
    flex: 1;
}

.bottom__wrapper .info .info__nav {
    color: var(--black);
}

.bottom__wrapper .bottom__wrapper--heading {
    text-transform: uppercase;
    color: var(--black);
    font-family: var(--quay);
    font-size: calc(26.25vw + 1rem);
    line-height: .77;
    padding-bottom: 2.5rem;
}






.wrapper .images {
    padding-top: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    will-change: transform;
}

.wrapper .images .image__container {
    transition: all .3s ease-out;
    transform-origin: 50% 0;
    position: relative;
    will-change: padding;
}

.wrapper .images .image__container:hover {
    transform: scale(1.3);
    padding: 0 1.1vw;
}

.wrapper .images .image__container:nth-child(4n):hover {
    padding: 0 2.2vw;
}

.wrapper .images .image__container:nth-child(1) {
    padding-left: 0.5rem;
}

.wrapper .images .image__container:last-child {
    padding-right: 0.5rem;
}

.wrapper .images .image__container .image__container--image img {
    width: 7vw;
    height: 8.5vw;
    object-fit: cover;
}

.wrapper .images .image__container:nth-child(4n) .image__container--image img {
    width: 14vw;
}

.wrapper .images .image__container .images__container--number {
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    font-weight: 600;
    font-family: var(--noto-sans);
}


.gallery__wrapper {
    width: 100%;
    height: 100%;
    padding: .5rem;
    position: relative;
}

.gallery__wrapper .nav__btns {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.gallery__wrapper .nav__btns button {
    background-color: transparent;
    border: 0;
    outline: none;
    text-transform: uppercase;
    color: var(--black);
    font-family: var(--noto-sans);
    color: var(--black);
    font-weight: 600;
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    cursor: pointer;
}

.gallery__wrapper .nav__btns .nav__divider {
    color: var(--black);
    font-weight: 600;
    font-family: var(--noto-sans);
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
}

.gallery__wrapper .gallery__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.gallery__container .left__container {
    display: flex;
    align-items: flex-end;
}

.gallery__container .left__container .image__wrapper {
    width: 45vw;
    height: calc(100vh - 1rem);
    overflow: hidden;
    position: relative;
}

.gallery__container .right__container .image__wrapper {
    aspect-ratio: 0.7 / 1;
    height: 40vh;
    overflow: hidden;
    position: relative;
}

.gallery__container .left__container .image__wrapper img,
.gallery__container .right__container .image__wrapper img {
    position: absolute;
    top: 0;
    left: 0;
}

.gallery__container .left__container .image__wrapper img,
.gallery__container .right__container .image__wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide-left {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
}

@keyframes scale-up {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.gallery__container .left__container .image__description {
    padding-left: .5rem;
}

.gallery__container .right__container .image__description {
    padding-top: .5rem;
}

.gallery__container .left__container .image__description .description__text,
.gallery__container .right__container .image__description .description__text {
    color: var(--black);
    font-weight: 600;
    font-family: var(--noto-sans);
    font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    text-transform: uppercase;
}